* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 1920px;
  height: 1080px;
}

#game {
  display: inline-block;
}
/* x축 tasks(좌측) */
#game #x-tasks {
  position: relative;
  top: 40px;
  width: 40px;
  height: 300px;
}

#game #x-tasks .task-box {
  display: inline-block;
  width: 40px;
  height: 10%;
  border: 1px solid black;
}

/* y축 tasks(탑) */
#game #y-tasks {
  position: absolute;
  left: 40px;
  top: 20px;
  width: 300px;
}

#game #y-tasks .task-box {
  width: 10%;
  height: 40px;
  border: 1px solid black;
  display: inline-block;
}

/* 셀 보드 */
#all-cells {
  position: absolute;
  top: 60px;
  left: 40px;
  display: inline-block;
  width: 300px;
  height: 300px;
  border: 1px solid black;
}

#all-cells .cell {
  display: inline-block;
  width: 10%;
  height: 10%;
  border: 1px solid black;
  margin: 0;
  margin-left: -1px;
  margin-top: -1px;
}

#all-cells .cell.true {
  background-color: black;
}

#set-btn {
  position: absolute;
  top: 400px;
}
