* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 1920px;
  height: 1080px;
}

#full-tbl {
}

/* 셀 보드 */
#full-tbl div:nth-child(2) {
  display: flex;
}

#y-tasks {
  width: 240px;
}

#y-tasks .task-box {
}

#y-tasks .task-box tr {
  display: inline-block;
}

#x-tasks {
  height: 240px;
  border: solid black 1px;
}

#x-tasks .task-box {
  height: 24px;
}

#x-tasks .task-box p {
  display: inline-block;
}

.task-box {
  border: 1px solid black;
}

.task-box p {
  width: 24px;
  height: 24px;
  border: 1px solid black;
  text-align: center;
}

#board {
}

#board tr {
  width: 24px;
}

#board tr td.cell {
  width: 24px;
  height: 24px;
  border: 1px solid black;
}

#board tr td.cell.true {
  background-color: black;
}

/* 문제 생성 버튼 */
#set-btn {
  position: absolute;
  top: 400px;
}
