* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0 auto;
}

:root {
  --board-size: 400px;
  --box-size: 15;
}

/* grid */

#game-grid-container {
  width: inherit;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr;
}

#game-grid-container div {
}

.grid-box {
  border: 2px solid rgb(0, 0, 0);
}

/*  */

#y-tasks {
  width: var(--board-size);
  display: grid;
  grid-template-columns: repeat(var(--box-size), 1fr);
}

#y-tasks .task-box {
  width: calc(var(--board-size) / var(--box-size));
  border-right: 1px solid black;
}

#y-tasks .task-box p {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

#x-tasks {
  height: var(--board-size);
  display: grid;
  grid-template-rows: repeat(var(--box-size), 1fr);
}

#x-tasks .task-box {
  height: calc(var(--board-size) / var(--box-size));
  border-bottom: 1px solid black;
}

#x-tasks .task-box p {
  display: inline-block;
  border-left: 1px solid black;
  border-right: 1px solid black;
}

.task-box {
}

.task-box p {
  width: calc(var(--board-size) / var(--box-size));
  height: calc(var(--board-size) / var(--box-size));
  text-align: center;
}

/* 셀 보드 */
#board {
  width: var(--board-size);
  height: var(--board-size);
  display: grid;
  grid-template-rows: repeat(var(--box-size), 1fr);
}

#board div.row-container {
  width: 100%;
  display: inline-grid;
  grid-template-columns: repeat(var(--box-size), 1fr);
}

#board div.cell {
  display: inline-block;
  border: 1px solid black;
}

#board div.cell.true {
  background-color: black;
}
